Hostname,CPUs,Load 1m,Load 5m,Load 15m,RAM Total (MB),RAM Free (MB),RAM Used %,Swap Total (MB),Swap Free (MB),Swap Used %
{% for host in groups['all'] -%}
{% set h = hostvars[host] -%}
{% if h['ansible_memtotal_mb'] is defined -%}
{# --- Calculate RAM Percentage --- #}
{% set ram_used = (100 - (h['ansible_memfree_mb'] / h['ansible_memtotal_mb'] * 100)) | round(2) -%}
{# --- Calculate Swap Percentage --- #}
{% if h['ansible_swaptotal_mb']|int > 0 -%}
  {% set swap_used = (100 - (h['ansible_swapfree_mb'] / h['ansible_swaptotal_mb'] * 100)) | round(2) -%}
{% else -%}
  {% set swap_used = 0 -%}
{% endif -%}
{# --- Print the Row (Note the explicit newline at the end) --- #}
{{ host }},{{ h['ansible_processor_vcpus']|default(0) }},{{ h['ansible_loadavg']['1m']|default(0) }},{{ h['ansible_loadavg']['5m']|default(0) }},{{ h['ansible_loadavg']['15m']|default(0) }},{{ h['ansible_memtotal_mb'] }},{{ h['ansible_memfree_mb'] }},{{ ram_used }}%,{{ h['ansible_swaptotal_mb'] }},{{ h['ansible_swapfree_mb'] }},{{ swap_used }}%{{ '\n' }}
{%- endif -%}
{% endfor %}

Hostname,VG Name,VG Devices,VG Size (GB),VG Free (GB),Free %,Status,Additional Storage Req. (GB)
{% for host in groups['all'] -%}
{% set h = hostvars[host] -%}
{% if h['ansible_lvm'] is defined and h['ansible_lvm']['vgs'] is defined -%}
{% for vg_name, vg_info in h['ansible_lvm']['vgs'].items() -%}
{% set vg_size = vg_info['size_g'] | float -%}
{% set vg_free = vg_info['free_g'] | float -%}
{% if vg_size > 0 -%}
  {% set free_pct = (vg_free / vg_size) * 100 -%}
{% else -%}
  {% set free_pct = 0 -%}
{% endif -%}
{% if free_pct < 15 -%}
  {% set status = "CRITICAL" -%}
  {# (F + X) >= 0.15(S + X) => X >= (0.15*S - F) / 0.85 #}
  {% set needed = ((0.15 * vg_size - vg_free) / 0.85) | round(2) -%}
{% else -%}
  {% set status = "OK" -%}
  {% set needed = 0 -%}
{% endif -%}
{% set pvs = [] -%}
{% if h['ansible_lvm']['pvs'] is defined -%}
  {% for pv_name, pv_info in h['ansible_lvm']['pvs'].items() -%}
    {% if pv_info['vg'] == vg_name -%}
      {% set _ = pvs.append(pv_name) -%}
    {% endif -%}
  {% endfor -%}
{% endif -%}
{{ host }},{{ vg_name }},{{ pvs | join(' ') }},{{ vg_size }},{{ vg_free }},{{ free_pct | round(2) }}%,{{ status }},{{ needed }}
{% endfor -%}
{% endif -%}
{% endfor %}