Hostname,VG Info (Name | Total | Free | %)
{% for host in groups['all'] -%}
{% if hostvars[host]['vg_data'] is defined -%}
{{ host }}
{%- for vg in hostvars[host]['vg_data'] -%}
,{{ vg.name }},{{ vg.total }},{{ vg.free }},{% if vg.total|int > 0 %}{{ ((vg.free|int / vg.total|int) * 100) | round(2) }}%{% else %}N/A{% endif %}
{%- endfor %}
{{ '' }}
{% endif -%}
{% endfor %}