---
- name: Patch and Reboot (Module Based)
  hosts: all
  become: yes
  vars_files:
    - ../../vaults/vault_vm.yml
  vars:
    ansible_become_password: "{{ remote_host_become_pass }}"
    ansible_remote_tmp: "/var/ansible_tmp"

  tasks:
    - name: Upgrade all packages (Async)
      ansible.builtin.dnf:
        name: "*"
        state: latest
      async: 3600  # 1 hour max runtime
      poll: 30     # Check every 30 seconds
      register: dnf_result

    - name: Reboot (Fire and Forget)
      # sleep 2 gives Ansible time to close the SSH connection cleanly
      ansible.builtin.shell: "sleep 2 && shutdown -r now"
      async: 1     # Run for max 1 second
      poll: 0      # Fire and forget immediately
      ignore_errors: true
      when: dnf_result.changed