---
- name: Check SELinux status (Simple)
  hosts: all
  become: yes
  gather_facts: no
  vars_files:
    - ../../vaults/vault_vm.yml
  vars:
    ansible_become_password: "{{ remote_host_become_pass }}" 
    ansible_remote_tmp: /var/ansible_tmp
    
  tasks:
    - name: Get and display current SELinux mode using getenforce
      ansible.builtin.command: /usr/sbin/getenforce
      register: selinux_status
      changed_when: false # This task is only for information

    - name: Show the current status
      ansible.builtin.debug:
        msg: "SELinux mode on {{ inventory_hostname }} is: {{ selinux_status.stdout }}"