---
- name: Install Dynatrace SELinux Policies
  hosts: all
  become: true
  vars_files:
    - ../../vaults/vbox_vault.yml
  vars:
    ansible_remote_tmp: /var/ansible_tmp

  tasks:
    - name: Find all .pp files in Dynatrace SELinux directory
      ansible.builtin.find:
        paths: "/opt/dynatrace/oneagent/agent/SELinuxPolicy"
        patterns: "*.pp"
        file_type: file
      register: pp_files

    - name: Install SELinux policy files
      community.general.semodule:
        name: "{{ item.path }}"
        state: present
      loop: "{{ pp_files.files }}"
      loop_control:
        label: "Installing policy: {{ item.path }}"