---
- name: Install Dynatrace SELinux Policies
  hosts: all
  become: true
  vars_files:
    - ../../vaults/vbox_vault.yml
  vars:
    ansible_remote_tmp: /var/ansible_tmp


  tasks:
    - name: Install all .pp files from Dynatrace
      semodule:
        name: "{{ item }}"
        state: present
      with_fileglob:
        - /opt/dynatrace/oneagent/agent/SELinuxPolicy/*.pp