---
- name: Get uptime from servers
  hosts: all
  gather_facts: false
  become: true
  vars_files:
    - ../../vaults/vault_vm.yml
  vars:
    ansible_become_password: "{{ remote_host_become_pass }}"
    ansible_remote_tmp: /var/ansible_tmp

  tasks:
    - name: Execute uptime command
      ansible.builtin.command: "uptime -p"
      register: server_uptime
      changed_when: false

    - name: Display uptime
      ansible.builtin.debug:
        msg: "Uptime for {{ inventory_hostname }}: {{ server_uptime.stdout }}"